* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: poppins;
    color: black;
}

.f-head {
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
}

.container {
    max-width: 100vm;
    padding: 16px;
    margin: auto;
    text-align: center;
}

.h-5 {
    font-weight: bold;
    font-family: 'Bowlby One', cursive;
    color: rgba(255, 255, 255, 0.596);
    text-shadow: 20px 0px 10px rgb(136, 233, 45);
}

.maq {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.bold {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-style: normal;
}

.maqq {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(255, 216, 216, 0.3) 0px 18px 36px -18px inset;
}